<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Buy Aircraft</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <style>
        input{
            width: 400px;
        }
        #fetchAll{
            color: #3ac162;
        }
        td a{
            min-width: 30px;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            border: 1px solid #3d79b3;
            border-radius: 3px;
            display: inline-block;
            margin-right: 5px;
            text-decoration: blink;
            font-weight: bold;
            background: azure;
        }
        td a:hover{
            color: #4CAF50;
        }
    </style>
</head>

<body>

<div id="home">

    <div id="srch">
        <h1>Search over <span>17,000 aircraft</span> for sale!</h1>
        <!--/*@thymesVar id="myInput" type=""*/-->
        <form id="hm_search" class="hm_search" th:object="${myInput}" name="hm_search" th:action="@{/api/aircrafts}" method="post" accept-charset="utf-8">
            <div id="srchbdr">
                <input type="text" placeholder="Search by Make, Model or Country" id="GpsSearchQueryBox" th:name="aircraftName" th:id="aircraftName"  class="input_text">
                <button id="goButton" class="bt_hmsrch" type="submit"><i class="fas fa-search fa-fw"></i>Search</button>
            </div>
        </form>

    </div>
</div>

<div class="table-users">
<div class="header">Aircraft for sale</div>
    <button class="fetchAll" id="fetchAll" type="submit"> Show all</button>
<table id="usersList" style="width: 100%">

</table>
</div>

<script>
    function loadAircraft() {
        var form = $('#hm_search');
        form.onsubmit = function (event) {
            event.preventDefault();}
            var formData = new FormData(document.getElementById("hm_search"));
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var aircrafts = JSON.parse(this.responseText);
                    var html = '<tr>\n' +
                        '<th> Picture</th>\n' +
                        '        <th>Id</th>\n' +
                        '        <th>Manufacturer/model</th>\n' +
                        '        <th>Year</th>\n' +
                        '        <th>Location</th>\n' +
                        '        <th>S/N</th>\n' +
                        '        <th>TTAF</th>\n' +
                        '<th>Reg Nr.</th>\n' +
                        '        <th>Owner</th>\n' +
                            '<th>Price $</th>'+
                        '<th>More info</th>'+
                        '    </tr>';
                    for (var i = 0; i < aircrafts.length; i++) {
                        var planes = aircrafts[i];
                        console.log(planes);
                        html = html + '<tr><td><img src="/img/' + planes.img + '" alt="pic" /></td>' +
                            '<td>' + planes.aircraftId + '</td>\n' +
                            '        <td>' + planes.name + '</td>\n' +
                            '        <td>' + planes.manufacture + '</td>\n' +
                            '        <td style="text-transform: capitalize">' + planes.location + '</td>' +
                            '        <td>' + planes.sn + '</td>' +
                            '    <td>' + planes.ttaf + '</td>' +
                            '<td style="text-transform: uppercase">' + planes.reg + '</td>' +
                            '        <td>' + planes.owner.name + " "+planes.owner.surname+ '</td>'+
                        '<td>' + planes.price + '</td>' +
                            '<td> <a href=""> More Info </a> <p> <a href=""> Contact now </a></p>  </td></tr>';
                            // '<td> <a href="">Contact now</a> </td></tr>';
                    }
                    document.getElementById("usersList").innerHTML = html;
                }
            };
            xhttp.open("POST", "http://localhost:8080/api/aircrafts", true);

            xhttp.send(formData);

    }

    $(function() {
        $("#goButton").click(function(e) {
            e.preventDefault();

            loadAircraft();
        })
    });

    $(function() {
        $("#fetchAll").click(function(e) {
            e.preventDefault();

            loadAircraft();
        })
    });


</script>

</body>