<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Buy Aircraft</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">

</head>

<body>

<div id="home">

    <div id="srch">
        <h1>Search over <span>17,000 aircraft</span> for sale!</h1>
        <!--/*@thymesVar id="myInput" type=""*/-->
        <form id="hm_search" class="hm_search" th:object="${myInput}" name="hm_search" th:action="@{/api/aircrafts}" method="post" accept-charset="utf-8">
            <div id="srchbdr">
                <input type="text" placeholder="Search by Make, Model or Country" id="GpsSearchQueryBox" th:name="aircraftName" th:id="aircraftName"  class="input_text">
                <button id="goButton" class="bt_hmsrch" type="submit"><i class="fas fa-search fa-fw"></i>Search</button>
            </div>
        </form>

    </div>
</div>

<div class="table-users">
<div class="header">Aircraft for sale</div>
    <button class="fetchAll" id="fetchAll" type="submit"> Show all</button>
<table id="usersList" style="width: 100%">

</table>
</div>

<script src="/js/buyair.js"> </script>

</body>